@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file or use a CDN link in your HTML head */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

.geo-regular {
  font-family: 'Geo', sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
  display: inline-flex;
}